@import "tailwindcss";

@import "./theme.css";

#root {
    @apply font-anaheim min-h-screen flex flex-col;
}

main {
    @apply h-full grow p-4;
}

header {

    li {
        @apply
        text-main-600
        no-underline
        hover:text-main-700
        transition duration-150
        ease-in-out
    }
}

.btn-1 {
    @apply
    bg-secondary-500
    text-secondary-00
    py-2
    px-4
    rounded-lg
    no-underline
    hover:bg-secondary-600
}

.btn-2 {
    @apply
    bg-main-500
    text-main-50
    py-2
    px-4
    rounded-lg
    no-underline
    hover:bg-main-700
}

.btn-3 {
    @apply
    bg-secondary-00
    text-secondary-500
    py-2
    px-4
    rounded-lg
    no-underline
    outline-2
    outline-secondary-500
    hover:bg-secondary-500
    hover:text-secondary-00
}