@import "tailwindcss";

@import "./theme.css";

#root {
    @apply font-anaheim-m min-h-screen flex flex-col text-lg;
}
* {
    @apply box-border
}

main {
    @apply h-full grow ;
}

/* Style Header */
header {

    li {
        @apply
        text-main-600
        no-underline
        hover:text-main-700
        transition duration-150
        ease-in-out
    }
}

.btn-1 {
    @apply
    text-xl
    font-averia-r
    bg-secondary-500
    text-secondary-00
    py-2
    px-4
    rounded-lg
    no-underline
    hover:bg-secondary-600
}

.btn-2 {
    @apply
    text-xl
    font-averia-r
    bg-main-500
    text-main-50
    py-2
    px-4
    rounded-lg
    no-underline
    hover:bg-main-700
}

.btn-3 {
    @apply
    text-xl
    font-averia-r
    bg-secondary-00
    text-secondary-500
    py-2
    px-4
    rounded-lg
    no-underline
    outline-3
    outline-secondary-500
    hover:bg-secondary-500
    hover:text-secondary-00
    hover:fill-secondary-00
}

.panel {
    @apply
    fixed
    top-90
    right-0
    w-700
    overflow-y-auto
    bg-main-00
    outline-2
    outline-main-100
    p-40
    translate-x-full
    transition-transform
    duration-300
    ease-in-out
    z-80
}